<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3></h3>
                <div class="container">
                    <div class="text-center">
                        <div *ngIf="loading" class="loading">
                            <img class="gif-loading" src="../../assets/images/ezgif.com-gif-maker.gif">
                            <p class="lead">
                                <img class="loading-gif" src="../../assets/images/1484.png">
                            </p>
                        </div>
                    </div>
                </div>
                <form [style.visibility]="loading ? 'hidden' : 'visible'" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Lista de URLs</label>
                        <input type="text" formControlName="start_urls" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.start_urls.errors }" />
                        <div *ngIf="submitted && f.start_urls.errors" class="invalid-feedback">
                            <div *ngIf="f.start_urls.errors.required">Lista de URLs é necessária</div>
                        </div>
                        <mat-hint>Digite apenas urls separadas por vírgula</mat-hint>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="receiver_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.receiver_address.errors }" />
                        <div *ngIf="submitted && f.receiver_address.errors" class="invalid-feedback">
                            <div *ngIf="f.receiver_address.errors.required">Email é necessário</div>
                            <div *ngIf="f.receiver_address.errors.receiver_address">Digite um endereço de email válido</div>
                        </div>
                    </div>

                    <div class="form-group button">
                        <button class="btn btn-primary">SUBMETER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


