<footer class="section-footer">
    <div>
        <div class="footer-container">
            <div class="footer-logo">
                <div class="logos">
                    <div class="logo">
                        <img class="logo-item" src="assets/images/ODS_logo.png" alt="">     
                    </div>
                    <div class="logo">
                        <img class="logo-item" src="assets/images/TCE.png" alt="">
                    </div>
                    <div class="logo">
                        <img class="logo-item logo-ufpb" src="assets/images/UFPB.png" alt="">
                    </div>
                    <div class="logo">
                        <img class="logo-item logo-aria" src="assets/images/ARIA.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-page">
                <div class="page">
                    <a class="footer-nav" routerLink="turmalina" routerLinkActive="nav-active">MAPA</a>
                </div>
                <span>|</span>
                <div class="page">
                    <a class="footer-nav" routerLink="rank" routerLinkActive="nav-active">RANKING</a>
                </div>
                <span>|</span>
                <div class="page">
                    <a class="footer-nav" routerLink="relatorio" routerLinkActive="nav-active">RELATÓRIO</a>
                </div>
                <span>|</span>
                <div class="page"> 
                    <a  class="footer-nav" routerLink="avaliacoes" routerLinkActive="nav-active" >AVALIAÇÕES</a>
                </div>
                <span>|</span>
                <div class="page">
                    <a  class="footer-nav" routerLink="documentation" routerLinkActive="nav-active">DOCUMENTAÇÃO</a>  
                </div>
            </div> 
        </div>
    </div>
</footer>