<mat-form-field>
  <mat-label>Selecione o município</mat-label>
  <mat-select [(ngModel)]="selectedValue" name="municipio" [formControl]="city" #citySelect>
    <mat-option *ngFor="let city of turmalinaresults.Municipios" [value]="city.MunicipioName">
      {{city.MunicipioName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="evaluations && evaluations.length">
  <mat-label>Selecione a data</mat-label>
  <mat-select [(ngModel)]="selectedValueData" name="data" [formControl]="date" #evaluationSelect>
    <mat-option *ngFor="let date of evaluations" [value]="date.date">
        {{date.dateView}}
    </mat-option>
  </mat-select>
</mat-form-field>
