<body>
    <div class="main-select">
        <mat-form-field class="select city">
            <mat-label>Selecione o município*</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="municipio" [formControl]="city" #citySelect>
                <mat-option *ngFor="let city of turmalinaresults.Municipios" [value]="city.MunicipioName">
                    {{city.MunicipioName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="select date" *ngIf="evaluations && evaluations.length">
            <mat-label>Selecione a data*</mat-label>
            <mat-select [(ngModel)]="selectedValueData" name="data" [formControl]="date" (selectionChange)="getDadosMunicipio(selectedValue, selectedValueData)" #evaluationSelect>
                <mat-option *ngFor="let date of evaluations" [value]="date.date">
                    {{date.dateView}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container">
        <div class="graph1">
            <div>
              <canvas id="canvas">{{chart}}</canvas>
            </div>
          </div>
      
          <div class="graph2">
            <div>
              <canvas id="canvas2">{{chart2}}</canvas>
            </div>
          </div>
    </div>
</body>

