<body>
    <div class="main-select">
        <mat-form-field class="select city">
            <mat-label>Selecione o município*</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="municipio" [formControl]="city" #citySelect>
                <mat-option *ngFor="let city of mapleafservice.resultsIbge" [value]="city.nome">
                    {{city.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="select date" *ngIf="evaluations && evaluations.length">
            <mat-label>Selecione a data*</mat-label>
            <mat-select [(ngModel)]="selectedValueData" name="data" [formControl]="date" (selectionChange)="getDadosMunicipio(selectedValue, selectedValueData)" #evaluationSelect>
                <mat-option *ngFor="let date of evaluations" [value]="date.date">
                    {{date.dateView}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <button mat-raised-button class="button" (click)="searchDadosMunicipio(selectedValue)">Ok</button>
          
    </div>

    <div class="container">
        <div class="text-center">
            <p class="lead" *ngIf="loading">Loading...</p>
        </div>
        <div *ngIf="categoryValues" class="allgraphs">
            <div class="graph2 progress-wrapper" *ngFor="let item of categoryValues; let i = index">
                <div class="g{{i}}">
                    <div class="current" [ngStyle]="getOverlayStyle()">{{ item }}/{{ categoryMaxPoints[i] }}</div>
                    <round-progress
                        [current]="item"
                        [max]="categoryMaxPoints[i]"
                        [color]="color"
                        [background]="background"
                        [radius]="radius"
                        [stroke]="stroke"
                        [semicircle]="semicircle"
                        [rounded]="rounded"
                        [clockwise]="clockwise"
                        [responsive]="responsive"
                        [duration]="duration"
                        [animation]= "animation"
                        [animationDelay]= "animationDelay"
                    ></round-progress>
                    <div class="category-labels">{{categoryPtLabels[i]}}</div>
                </div>
            </div>
        </div>
        <div class="graph1">
            <div>
              <canvas id="barchart">{{barchart}}</canvas>
            </div>
        </div>
        <!-- <div class="graph2">
            <circle-progress
            [percent]="bidProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="budgetExpenditureProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="budgetRevenueProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="contractProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="employeeInformationProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="extraBudgetExpenditureProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="extraBudgetRevenueProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="paymentDocumentProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="graph2">
            <circle-progress
            [percent]="planningInstrumentProgress"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div> -->
    </div>

</body>

