:host { 
    --color-lightgray: rgba(255,255,255,0.8);
    --color-gray: rgb(151, 148, 148);
    --color-dark: black;
    --color-white : white;
    --color-lightblue: #71a9b3;
    --color-blue: #4c949c;
    --color-bluefooter: #4e949f;

    --font-family: "Montserrat", sans-serif; 
}

.relatorio-component{
    font-family: var(--font-family) !important;
    min-height: 100vh;
    margin-bottom: 100px;
}

/********************* Form ************************/
.button{
    text-align: center;
    margin: 0 5px 0 5px;
    width: 20%;
    padding: 0px 30px 0px 30px !important;
    color: var(--color-white) !important;
    font-size: 1rem;
    font-weight: 500;
    background: var(--color-lightblue)!important;
    border-radius: 1px !important;
}

.city{
    margin: 0px 5px;
}

.date{
    margin: 5px 5px 5px 10px;
}

.daterange{
    margin: 0px 10px 0px 10px!important;
}

.mat-raised-button{
    min-width: 80px !important;
    line-height: 50px !important;
}

.picker{
    width: 100vw!important;
}

.chart {
    height: 150px;
    display: block;
    border: 1px solid var(--color-dark);
}

.main-select{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 2rem auto 4rem auto;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.select{
    padding: 5px 5px 5px 15px;
    background-color: var(--color-lightgray);
}

#polarchart{
    width: 25rem;
}

.container{
    max-width: 80vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2.5rem; */
}

.gif-loading{
    width: 200px;
}

.loading{
    margin-top: 20vh;
}

.lead{
    font-size: 2rem;
    color: #683c14;
    font-weight: bold;
}

.loading-gif{
    width: 80px;
}

/********************* Progress graph ************************/
.allgraphs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40rem;
    padding: 30px;
    box-shadow:  0 0 10px  rgba(0, 0, 0, 0.171); 
    background-color: var(--color-lightgray);
}

.current {
    position: absolute;
    color: var(--color-gray);
    font-weight: 100;
    line-height: 1;
    font-size: 12px !important;
}

.category-labels{
    text-align: center;
    font-size: 0.7rem;
    color: var(--color-gray);
    font-weight: bold;
    margin-top: 5px !important;
}

.graph{
    display: flex;
    max-width: 100rem;
    margin-top: 2rem;
    justify-content: space-between;
    flex-direction: column;
}

.infosGraph{
    display: flex;
    max-width: 100rem;
    margin-top: 3rem;
    justify-content: space-between;
}

.graph-one{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow:  0 0 10px  rgba(0, 0, 0, 0.171); 
    background-color: var(--color-lightgray);
}

.graph-two{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow:  0 0 10px  rgba(0, 0, 0, 0.171); 
    background-color: var(--color-lightgray);
}

.graphCircle{
    width: 6.5rem ;
}

.progress-wrapper {
    position: relative;
    font-size: 10px ;
    margin: 6px auto;
}

round-progress {
    margin: auto;
    width: 5rem !important;
}

.buttonprogress{
    cursor:pointer;
}

.infos{
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infos .points p{
    color: var(--color-blue);
    font-weight: bold;
    font-size: 22px; 
    margin-top: 10px;
    padding-left: 10px;
}

.points{
    display: flex;
}

.points h1{
    color: var(--color-blue);
    font-weight: bold;
    font-size: 50px;  
}

.nameCity h2{
    color: rgb(48, 47, 47);
    font-weight: bold;
    font-size: 35px;
    margin-top: -1rem;
}

.dateLast p{
    color: rgb(48 47 47 / 61%);
    font-size: 18px;
    margin-top: -1rem;
}

.graphBar{
    padding: 20px;
}

.graphLine{
    margin-top: 2rem;
    padding: 20px;
}

.linechart{
    text-align: center !important;
    font-size: 0.7rem !important;
    color: var(--color-gray) !important;
    font-weight: bold !important;
    margin-top: 5px !important;
}

#barchart{
    width: 55rem !important;
    height: 25rem !important;
    margin: auto 0;
}

#timechart{
    width: 50rem !important;
    height: 23rem !important;
    margin: auto 0;
}

/***********************************************************/

@media screen and (min-width: 1450px) and (max-width: 2000px){
    .infos{
        width: 30rem !important;
    }

    .infosGraph{
        flex-direction: row !important;     
    }
}

@media screen and (min-width: 1250px) and (max-width: 1450px){
    .infos{
        width: 25rem !important;
    }

    .infosGraph{
        flex-direction: row !important;     
    }
}

@media screen and (min-width: 1050px) and (max-width: 1250px){
    .infos{
        width: 22rem !important;
    }

    .infosGraph{
        flex-direction: row !important;     
    }
}

@media screen and (min-width: 800px) and (max-width: 1050px){
    round-progress {
        width: 4.6rem !important;
    }

    #barchart{
        width: 30rem !important;
        height: 15rem !important;
    }

    #timechart{
        width: 35rem !important;
        height: 18rem !important;
    }

    .graphBar{
        margin-bottom: 3rem !important;
    }

    .graphLine{
        margin-top: 0rem;
    }

    .graph{
        max-width: 40rem;
        margin: 3rem auto!important;
    }

    .infos{
        width: 18rem;
        margin: 0 auto;
    }

    .allgraphs{
        margin-top: 3rem!important;
        padding: 20px;       
    }

    .infosGraph{
        max-width: 40rem;
        flex-direction: column !important;
        margin: 0 auto !important;
    }

    .button{
        width: 30%;
    }
}

@media screen and (min-width: 650px) and (max-width: 800px){
    round-progress {
        width: 4.5rem !important;
    }

    #barchart{
        width: 30rem !important;
        height: 15rem !important;
    }

    #timechart{
        width: 30rem !important;
        height: 15rem !important;
    }

    .graphBar{
        margin-bottom: 3rem !important;
    }

    .graphLine{
        margin-top: 0rem;
    }

    .graph{
        max-width: 40rem;
        margin: 3rem auto!important;
    }

    .infos{
        width: 18rem;
        margin: 0 auto;
    }

    .allgraphs{
        margin-top: 3rem!important;
        padding: 15px !important;    
    }

    .infosGraph{
        max-width: 40rem;
        flex-direction: column !important;
        margin: 0 auto !important;
    }

    .button{
        width: 30%;
    }
}

@media screen and (min-width: 530px) and (max-width: 650px){
    round-progress {
        width: 4.4rem !important;
    }

    #barchart{
        width: 25rem !important;
        height: 14rem !important;
    } 

    #timechart{
        width: 25rem !important;
        height: 14rem !important;
    }

    .graphBar{
        margin-bottom: 3rem !important;
    }

    .graphLine{
        margin-top: 0rem;
    }

    .graph{
        max-width: 40rem;
        margin: 3rem auto!important;
    }

    .infos{
        width: 18rem;
        margin: 0 auto;
    }

    .allgraphs{
        margin-top: 3rem!important;
        padding: 15px !important;    
    }

    .infosGraph{
        max-width: 40rem;
        flex-direction: column !important;
        margin: 0 auto !important;
    }

    .button{
        width: 30%;
    }
}

@media screen and (min-width: 450px) and (max-width: 530px){
    round-progress {
        width: 4.2rem !important;
    }

    #barchart{
        width: 20rem !important;
        height: 10rem !important;
    }  

    #timechart{
        width: 22rem !important;
        height: 10rem !important;
    }

    .graphBar{
        padding: 10px;
        margin-bottom: 3rem !important;
    }

    .graphLine{
        margin-top: 0rem;
        padding: 10px;
    }

    .infos{
        width: 18rem;
        margin: 0 auto!important; 
    }

    .allgraphs{
        margin: 3rem auto 0 auto!important;
        padding: 0px !important;        
    }

    .infosGraph{
        flex-direction: column !important;     
    }

    .button{
        width: 30%;
    }
}

@media screen and (min-width: 0px) and (max-width: 450px){
    round-progress {
        width: 3.9rem !important;
    }

    #barchart{
        width: 17rem !important;
        height: 8rem !important;
    }

    #timechart{
        width: 17rem !important;
        height: 8rem !important;
    }

    .graphBar{
        padding: 10px;
        margin-bottom: 3rem !important;
    }

    .graphLine{
        margin-top: 0rem;
        padding: 10px;
    }

    .infos{
        width: 15rem;
        margin: 0 auto!important; 
    }

    .allgraphs{
        margin: 3rem auto 0 auto!important;
        padding: 0px !important;           
    }

    .infosGraph{
        flex-direction: column !important;     
    }

    .city{
        margin: 10px 0 !important;
    }

    .date{
        margin: 10px 0 0 0 !important;
    }

    .main-select{
        flex-direction: column;
    }

    .button{
        width: 100%;
        margin: 0px !important;
    }
}

/********************* footer ************************/
.section-footer {
    background-color: var(--color-bluefooter);
    line-height: 3rem;
    text-align: center;
    padding: 40px 0px;
}
.footer-page{
    display: flex;
    max-width: 100rem;
    justify-content: center;
    flex-direction: row;
}
.footer-nav:hover{
    color:rgb(24, 68, 65) !important;
}
.footer-nav{
    display: block;
    color: #f1f1f1;
    font-size: 1rem;
    text-decoration:none;
    padding: 14px;
    font-size: 18px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.logos{
    display: flex;
}
.logo-turmalina{
    width: 11rem !important;
}
.logo-item{
    width: 3rem;
}
.logo-ufpb{
    width: 3.5rem;
}
.logo-aria{
    width: 4rem;
}
.logo{
    padding: 0 10px;
}
span{
    color: #f1f1f1;
    margin-top: 0.8rem;
}
@media screen and (min-width: 600px) and (max-width: 700px){
    span{
        display: none;
    }
    .footer-nav{
        padding: 8px!important;
    }
}

@media only screen and (max-width: 600px) {
    .footer-logo{
        flex-direction: column;
    }
    .footer-page{
        flex-direction: column;
    }
    .logos{
        display: block;
    }
    .logo{
        padding: 10px 0px ;
    }
    .footer-nav{
        padding: 5px;
    }
    span{
        display: none;
    }
}