<body>
    <div [ngClass]="colorString">
        <header> <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="d-flex flex-grow-1">
                    <a class="navbar-brand" routerLink="turmalina" (click)="getRoute()">
                        <img width="200" src="assets/images/turmalina.png">
                    </a>
                    <div class="w-100">
                        <button class="navbar-toggler navbar-light" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 " id="navbarColor01" [ngbCollapse]="toggleNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="turmalina" routerLinkActive="nav-active" (click)="getRoute()">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="rank" routerLinkActive="nav-active" (click)="getRoute()">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="relatorio" routerLinkActive="nav-active" (click)="getRoute()">Relatório</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="avaliacoes" routerLinkActive="nav-active" (click)="getRoute()" >Avaliações</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="documentation" routerLinkActive="nav-active" (click)="getRoute()">Documentação</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header> <!-- NAVBAR -->
        <div class="component" >
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="section-footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-logo">
                    <div class="logo-site">
                        <img class="logo-turmalina" src="assets/images/turmalina.png">
                    </div>
                    <div class="logos">
                        <div class="logo">
                            <img class="logo-item" src="assets/images/ODS_logo.png" alt="">     
                        </div>
                        <div class="logo">
                            <img class="logo-item" src="assets/images/TCE.png" alt="">
                        </div>
                        <div class="logo">
                            <img class="logo-item logo-ufpb" src="assets/images/UFPB.png" alt="">
                        </div>
                        <div class="logo">
                            <img class="logo-item logo-aria" src="assets/images/ARIA.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer-page">
                    <div class="page">
                        <a class="footer-nav" routerLink="turmalina" routerLinkActive="nav-active">MAPA</a>
                    </div>
                    <span>|</span>
                    <div class="page">
                        <a class="footer-nav" routerLink="rank" routerLinkActive="nav-active">RANKING</a>
                    </div>
                    <span>|</span>
                    <div class="page">
                        <a class="footer-nav" routerLink="relatorio" routerLinkActive="nav-active">RELATÓRIO</a>
                    </div>
                    <span>|</span>
                    <div class="page"> 
                        <a  class="footer-nav" routerLink="avaliacoes" routerLinkActive="nav-active" >AVALIAÇÕES</a>
                    </div>
                    <span>|</span>
                    <div class="page">
                        <a  class="footer-nav" routerLink="documentation" routerLinkActive="nav-active">DOCUMENTAÇÃO</a>  
                    </div>
                </div> 
            </div>
        </div>
    </footer>    
</body>
