<body>
    <header> <!-- NAVBAR -->
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">
            <img width="200" src="assets/images/turmalina.png">
            </a>
            <div>
                <a  routerLink="documentation">Documentação</a>
                <a  routerLink="turmalina">Mapa</a>
                <a  routerLink="rank">Ranking</a>
            </div>        
        </nav>
    </header> <!-- NAVBAR -->
    <div class="component" >
        <router-outlet></router-outlet>
    </div>
</body>
