<body>
    <header> <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"></span>
                <a class="navbar-brand d-lg-none d-block" href="#">
                    <img width="200" src="assets/images/turmalina.png">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>  
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item nav-active" routerLink="documentation">Documentação</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item" routerLink="turmalina">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item" routerLink="rank">Ranking</a>
                    </li>
                </ul>
            </div>  
     
        </nav>
    </header> <!-- NAVBAR -->
    <div class="component" >
        <router-outlet></router-outlet>
    </div>
</body>
