
<div class="example-container">
    <mat-form-field>
        <input #inputString matInput (keyup)="applyFilter(inputString.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="example-container mat-elevation-z8" >
    <table class="example-table" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="posicao">
            <th mat-header-cell *matHeaderCellDef> Posição
            </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="entidade">
            <th mat-header-cell *matHeaderCellDef> Entidade Pública
            </th>
            <td mat-cell *matCellDef="let element"> {{element.public_entity}} </td>
        </ng-container>
        <ng-container matColumnDef="avaliacao">
            <th mat-header-cell *matHeaderCellDef> Data da Avaliação
            </th>
            <td mat-cell *matCellDef="let element"> {{element.end_datetime}} </td>
        </ng-container>
        <ng-container matColumnDef="pontuacao" >
            <th mat-header-cell *matHeaderCellDef> Pontuação
            </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url
            </th>
            <td mat-cell *matCellDef="let element"><a [href]="element.url"> Portal </a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div> 


