.container{
    height: 100vh;
    padding-top: 35px;
    width: 100% !important;
    max-width: 1300px !important;
    margin: 0 auto !important;
}

div.mat-app-background {
    background-color: #F0F0F0;
  }

.example-container {
height: 100%;
width: 100%;
max-width: 828px;
overflow: auto;
margin: 0 auto;
}

table {
width: 100%;
font-size: 1rem;
}

table a {
text-decoration: none;
font-weight: bold;
color: #0089bd;
}

th.mat-column-position, td.mat-column-position {
padding-left: 8px;
}

.mat-table-sticky:first-child {
border-right: 1px solid #ddd;
}

.mat-header-cell {
background: #ddd;
border: #fff;
padding: 3px 5px;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
padding-left: 5px;
}

.mat-row:nth-child(even){
background-color:#fff;
}

.mat-row:nth-child(odd){
background-color:#f9f9f9;
}

.mat-cell {
padding: 3px 5px;
font-size: 0.75rem;
}

.mat-form-field {
width: 100px;
font-size: 0.75rem;
padding: 5px;
}

.mat-sort-header-container,
.mat-sort-header-button {
flex-direction: column;
}

