<body>
  <div class="main-select">
      <mat-form-field class="select city">
          <mat-select placeholder="Selecione o município" [(ngModel)]="selectedValue" (ngModelChange)="getDates(selectedValue).then()" name="municipio" [formControl]="city" #citySelect>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Pesquise o município" noEntriesFoundLabel="Nenhum município encontrado" [formControl]="cityFilter"></ngx-mat-select-search>
            </mat-option>  
            <mat-option *ngFor="let cityName of filteredCity | async" [value]="cityName.nome">
                  {{cityName.nome}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="select range" *ngIf="selectedValue">
          <input matInput [matDatepicker]="resultPicker"
          [matDatepickerFilter]="myFilter || null" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUI #resultPicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button class="button shadow-none" (click)="searchDadosMunicipio(date)">BUSCAR</button>         
  </div>
  <div class="container">
    <div class="text-center">
        <div *ngIf="loading" class="loading">
            <img class="gif-loading" src="../../assets/images/ezgif.com-gif-maker.gif">
            <p class="lead">
                <img class="loading-gif" src="../../assets/images/1484.png">
            </p>
        </div>
    </div>
  </div>

</body>

