<body>
  <div class="main-select">
      <mat-form-field class="select city">
          <mat-select placeholder="Selecione o município" [(ngModel)]="selectedValue" (ngModelChange)="getDates(selectedValue).then()" name="municipio" [formControl]="city" #citySelect>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Pesquise o município" noEntriesFoundLabel="Nenhum município encontrado" [formControl]="cityFilter"></ngx-mat-select-search>
            </mat-option>  
            <mat-option *ngFor="let cityName of filteredCity | async" [value]="cityName.nome">
                  {{cityName.nome}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="select range" *ngIf="selectedValue">
          <input matInput [matDatepicker]="resultPicker"
          [matDatepickerFilter]="myFilter || null" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUI #resultPicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button class="button shadow-none" (click)="searchDadosMunicipio(date)">BUSCAR</button>         
  </div>
  <div class="container">
    <div class="text-center">
        <div *ngIf="loading" class="loading">
            <img class="gif-loading" src="../../assets/images/ezgif.com-gif-maker.gif">
            <p class="lead">
                <img class="loading-gif" src="../../assets/images/1484.png">
            </p>
        </div>
    </div>
  </div>

  	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Município</th>
					        <th>Inicio da avaliação</th>
					        <th>Final da avaliação</th>
					        <th>Pontuação máxima</th>
					        <th>Portal do município</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <th scope="row" class="scope" >João pessoa</th>
					        <td>01/02/2021</td>
					        <td>02/02/2021</td>
					        <td>267</td>
					        <td><a href="#" class="btn btn-primary">Portal</a></td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Tipo</th>
					        <th>Presença</th>
					        <th>Pontuação máxima</th>
					        <th>Pontuação mínima</th>
					      </tr>
					    </thead>
                        <thead class="thead-primary">
                            <tr>
                              <th>Convênios</th>
                              <th>-</th>
                              <th>60</th>
                              <th>23</th>
                            </tr>
                        </thead>
					    <tbody>
					      <tr>
					        <th scope="row" class="scope" >Convênios ID</th>
					        <td>Sim</td>
					        <td>60</td>
					        <td>23</td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

