body{
    font-family: "Montserrat", sans-serif;
    height: 90vh;
    background-color: rgb(213, 218, 218)!important;
}

/** form **/
.button{
    text-align: center;
    margin: 0 5px 0 5px;
    width: 20%;
    padding: 0px 30px 0px 30px !important;
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
    background: rgb(116,76,44)!important;
    background: linear-gradient(0deg, rgba(116,76,44,1) 0%, rgba(156,124,100,1) 100%)!important;
    border-radius: 25px !important;
}

.city{
    margin: 0px 5px;
}

.date{
    margin: 0px 5px;
}

.range{
    margin: 0px 5px 0px 8px!important;
}

.mat-raised-button{
    min-width: 80px !important;
    line-height: 50px !important;
}

.picker{
    width: 100vw;
    /* height: 354px; */
}

.main-select{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 2rem auto 4rem auto;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.select{
    padding: 5px 5px 5px 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.103);
    border-radius: 25px;
}

/** Table **/
 div.mat-app-background {
    background-color: #F0F0F0;
}
  
.example-container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
}

.table {
    width: 100%;
    font-size: 1rem;
}

th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #ddd;
}

.mat-header-cell {
    background: #ddd;
    border: #fff;
    padding: 3px 5px;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
    padding-left: 5px;
}

.mat-row:nth-child(even){
    background-color:#fff;
}

.mat-row:nth-child(odd){
    background-color:#f9f9f9;
}

.mat-cell {
    padding: 3px 5px;
    font-size: 0.75rem;
}

.mat-sort-header-container,
.mat-sort-header-button {
    flex-direction: column;
} 

@media screen and (min-width: 0px) and (max-width: 575px){

    .main-select{
        flex-direction: column !important;
    }

    .city{
        margin: 0 !important;
    }

    .range{
        margin: 10px 0 !important;
    }
    .button{
        margin: 0 !important;
    }
}
  