.map-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#map {
  margin: 0 auto !important;
  height: 89vh;
  width: 100vw;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
    0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
}

/** Search **/

.turmalina-search-municipio-field {
  z-index: 999999 !important;
}

#search-form {
  position: absolute;
  top: 111px;
  left: 50%;
  width: 350px;
  height: auto;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

#search-form:focus{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 707px) and (max-width: 900px){
    #search-form{
        width: 180px !important;

    }
}

@media screen and (min-width: 0px) and (max-width: 706px){
    #search-form{
        top: 180px !important;
        width: 250px !important;
    }
}