<div class="map-container">
  <div>
    <div class="turmalina-ranking" id="top3-widget">
    </div>
  </div>

  <form style="padding-left: 1%" id="search-form" class="turmalina-search-municipio-field" fxLayout="column">
    <div class="input-row turmalina-form-cidades" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
      fxLayoutGap.lt-md="0px">
      <mat-form-field style="z-index: 999999; " fxFlex
      class="turmalina-search-municipio-field turmalina-home-mapa-full-width" appearance="fill">
      <input matInput placeholder="Município" aria-label="Município" [formControl]="municipioCtrl">
      <mat-icon style="color: dimgray !important" matSuffix>search</mat-icon>
    </mat-form-field>
    </div>
  </form>

  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>