/* You can add global styles to this file, and also import other style files */
@import "../node_modules/prismjs/themes/prism-okaidia.css";
@import "../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~leaflet/dist/leaflet.css";


:host {
    --weight: 540;
    --color-dark: black;
    --font-family: "Calibre Light", sans-serif;
}    

/** Documentation **/

table {
    width: 100%;
    box-shadow: 0 0 12px -9px #000;
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

table th {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    background-color: white !important;

}

table th[align=""], table th:not([align]) {
    text-align: center;
}

table td {
    font-size: 15px;
    height: 48px;

}

table td:not(:last-child), table tr:not(:last-child){
    padding-right: 3rem;
}

table td, table th {
    padding-left: 0.5rem;
} 

.variable-binding table tr:nth-child(odd) {
    background: rgb(243, 243, 243);
}

h1{
    color: var(--color-dark);
    font-weight: var(--weight);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

h1 a{
    color: var(--color-dark);
    font-weight: var(--weight);
    font-size: 1.6rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

h1 a:hover{
    color: rgb(30, 134, 160) !important;
}

h2{
    color:var(--color-dark);
    font-weight: var(--weight);
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}
h3{
    color: var(--color-dark);
    font-weight: var(--weight);
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.img-md img{
    width: 870x; 
    height: 640px;
    margin-bottom: 1rem;
}

 /** Map **/

 .leaflet-right{
    margin-right: 30px;
}

.leaflet-bottom{
    position: absolute;
    left: 50%;
    width: 250px;
}

.legend{
    line-height: 18px;
    color: #555;
}

.legend h1{
    padding-bottom: 0 !important;
    font-size: 18px !important;
    color: #777  !important;
    margin-bottom: 2px !important;
}
.legend_box{
    display: inline-flex !important;
}

.legend_text{
    display: block;
    text-align: center;
}

.legend i:not(:first-child){
    margin-left: 2rem !important;
}

.legend i {
    width:30px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px; 
    margin-right: -1rem !important;
    font: 17px/18px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px;
}

.info h4 { 
    margin: 0 0 5px; 
    color: #777;
    font: 17px/18px Arial, Helvetica, sans-serif !important; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** Material **/

mat-form-field {
    width: 100%;
    position: flex !important;
}

/** Form relatorio **/

.mat-form-field-wrapper{
    padding: 0 !important;
}

.mat-datepicker-content .mat-calendar {
    width: 26rem!important;
    height: 38rem!important;
}

@media screen and (min-width: 450px) and (max-width: 706px){
    .legend i{
        width: 15px !important;
    }
    .leaflet-bottom{
        width: 205px;
    }
}
@media screen and (min-width: 0px) and (max-width: 449px){
    .legend i{
        width: 15px !important;
    }
    .leaflet-bottom{
        width: 170px;
    }
    .legend i:not(:first-child){
        margin-left: 1rem !important;
    }
}

.modal{
    background-color: #0a1c1f71;
}

.box-modal{
    font-family: var(--font-family) !important;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.modal-header{
    padding: 2rem 1rem 0rem 1rem!important;
    margin-bottom: 0!important;
}

.modal-header h4{
    margin-bottom: 0!important;
    font-weight: 500;
    font-size: 18px;
}

.modal-body{
    overflow: auto;
}

.message-0{
    font-weight: bold;
    margin-bottom: 20px !important;
}

.modal-content{
    width: 40% !important;
    align-items: center;
    height: 85%;
}

.modal-footer{
    padding: 0.5rem 1rem 2rem 1rem!important;
}

.modal-content .btn{
	cursor: pointer;
    border-radius: 1px!important;
	box-shadow: none !important;
	font-size: 13px;
	font-weight: 500;
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
    background-color: #4e949f;
    border-color: #4e949f;
    color: white ;
    width: 8rem;
}

@media screen and (min-width: 800px) and (max-width: 2000px){
    .modal-content{
        min-width: 35rem !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px){
    .modal-content{
        min-width: 80vw !important;
    }
}
